In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('ckd.csv')

In [ ]:
df

     white blood cell count  blood glucose random  ...  hypertension  class
0                    7800.0            121.000000  ...             1      0
1                    6000.0            148.036517  ...             0      0
2                    7500.0            423.000000  ...             0      0
3                    6700.0            117.000000  ...             1      0
4                    7300.0            106.000000  ...             0      0
..                      ...                   ...  ...           ...    ...
395                  6700.0            140.000000  ...             0      1
396                  7800.0             75.000000  ...             0      1
397                  6600.0            100.000000  ...             0      1
398                  7200.0            114.000000  ...             0      1
399                  6800.0            131.000000  ...             0      1

[400 rows x 11 columns]

In [ ]:
X_new = df.drop(['class'], axis=1)
y=df['class']

In [ ]:
import numpy as np
import skfuzzy as fuzz
from skfuzzy import control as ctrl

In [ ]:
for i in df:
  print("{} Max: {} Min: {}".format(i, df[i].max(),df[i].min()))

white blood cell count Max: 26400.0 Min: 2200.0
blood glucose random Max: 490.0 Min: 22.0
blood urea Max: 391.0 Min: 1.5
serum creatinine Max: 76.0 Min: 0.4
packed cell volume Max: 54.0 Min: 9.0
albumin Max: 5.0 Min: 0.0
hemoglobin Max: 17.8 Min: 3.1
age Max: 90.0 Min: 2.0
sugar Max: 5.0 Min: 0.0
hypertension Max: 1 Min: 0
class Max: 1 Min: 0

In [ ]:
wbcc = ctrl.Antecedent(np.arange(2200, 26400, 1), 'white blood cell count')
bgr = ctrl.Antecedent(np.arange(22, 490, 1), 'blood glucose')
bu = ctrl.Antecedent(np.arange(1.5, 391, 1), 'blood urea')
sc = ctrl.Antecedent(np.arange(0.4, 76, 1), 'serum creatinine')
pcv = ctrl.Antecedent(np.arange(9, 54, 1), 'packed cell volume')
al = ctrl.Antecedent(np.arange(0, 5, 1), 'albumin')
hem = ctrl.Antecedent(np.arange(3.1, 17.8, 1), 'hemoglobin')
age = ctrl.Antecedent(np.arange(2, 90, 1), 'age')
sugar = ctrl.Antecedent(np.arange(0, 5, 1), 'sugar')
hy = ctrl.Antecedent(np.arange(0, 1, 1), 'hypertension')

In [ ]:
wbcc.automf(3)
bgr.automf(3)
bu.automf(3)
sc.automf(3)
pcv.automf(3)
al.automf(3)
hem.automf(3)
age.automf(3)
sugar.automf(3)
hy.automf(3)

In [ ]:
def max_and_fuzzy(p,a,g):
  fuzzy_val = 0
  if (p >= a) and (p >= g):
    fuzzy_val = 0
  elif (a >= p) and (a >= g):
    fuzzy_val = 1
  else:
    fuzzy_val = 2
  return fuzzy_val

In [ ]:
new_val = []
for i in X_new.itertuples():
  val = []
  p = fuzz.interp_membership(wbcc.universe, wbcc['poor'].mf, i[1])
  a = fuzz.interp_membership(wbcc.universe, wbcc['average'].mf, i[1])
  g = fuzz.interp_membership(wbcc.universe, wbcc['good'].mf, i[1])
  val.append(max_and_fuzzy(p,a,g))

  p = fuzz.interp_membership(bgr.universe, bgr['poor'].mf, i[2])
  a = fuzz.interp_membership(bgr.universe, bgr['average'].mf, i[2])
  g = fuzz.interp_membership(bgr.universe, bgr['good'].mf, i[2])
  val.append(max_and_fuzzy(p,a,g))

  p = fuzz.interp_membership(bu.universe, bu['poor'].mf, i[3])
  a = fuzz.interp_membership(bu.universe, bu['average'].mf, i[3])
  g = fuzz.interp_membership(bu.universe, bu['good'].mf, i[3])
  val.append(max_and_fuzzy(p,a,g))

  p = fuzz.interp_membership(sc.universe, sc['poor'].mf, i[4])
  a = fuzz.interp_membership(sc.universe, sc['average'].mf, i[4])
  g = fuzz.interp_membership(sc.universe, sc['good'].mf, i[4])
  val.append(max_and_fuzzy(p,a,g))

  p = fuzz.interp_membership(pcv.universe, pcv['poor'].mf, i[5])
  a = fuzz.interp_membership(pcv.universe, pcv['average'].mf, i[5])
  g = fuzz.interp_membership(pcv.universe, pcv['good'].mf, i[5])
  val.append(max_and_fuzzy(p,a,g))

  p = fuzz.interp_membership(al.universe, al['poor'].mf, i[6])
  a = fuzz.interp_membership(al.universe, al['average'].mf, i[6])
  g = fuzz.interp_membership(al.universe, al['good'].mf, i[6])
  val.append(max_and_fuzzy(p,a,g))

  p = fuzz.interp_membership(hem.universe, hem['poor'].mf, i[7])
  a = fuzz.interp_membership(hem.universe, hem['average'].mf, i[7])
  g = fuzz.interp_membership(hem.universe, hem['good'].mf, i[7])
  val.append(max_and_fuzzy(p,a,g))

  p = fuzz.interp_membership(age.universe, age['poor'].mf, i[8])
  a = fuzz.interp_membership(age.universe, age['average'].mf, i[8])
  g = fuzz.interp_membership(age.universe, age['good'].mf, i[8])
  val.append(max_and_fuzzy(p,a,g))


  p = fuzz.interp_membership(sugar.universe, sugar['poor'].mf, i[9])
  a = fuzz.interp_membership(sugar.universe, sugar['average'].mf, i[9])
  g = fuzz.interp_membership(sugar.universe, sugar['good'].mf, i[9])
  val.append(max_and_fuzzy(p,a,g))


  p = fuzz.interp_membership(hy.universe, hy['poor'].mf, i[10])
  a = fuzz.interp_membership(hy.universe, hy['average'].mf, i[10])
  g = fuzz.interp_membership(hy.universe, hy['good'].mf, i[10])
  val.append(max_and_fuzzy(p,a,g))
  new_val.append(val)

In [ ]:
new_val

[[0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 1, 0, 0, 1, 2, 1, 0, 0, 0],
 [0, 2, 0, 0, 1, 1, 1, 1, 1, 0],
 [0, 0, 0, 0, 1, 2, 1, 1, 0, 0],
 [0, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 1, 1, 0, 1, 2, 0, 0],
 [0, 2, 0, 0, 2, 1, 1, 1, 2, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 2, 0],
 [0, 2, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 0, 0, 0, 1, 0, 2, 1, 0],
 [0, 0, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 1, 0],
 [0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 1, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 1, 0, 1, 1, 1, 1, 0, 0],
 [0, 0, 1, 0, 1, 2, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 0, 0, 0],
 [1, 1, 0, 0, 1, 2, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 2, 2, 0],
 [1, 0, 0, 0, 1, 0, 1, 2, 1, 0],
 [1, 1, 0, 0, 1, 0, 1, 2, 0, 0],
 [1, 0, 1, 0, 1, 1, 1, 1, 0, 0],
 [0, 0, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 1, 0, 1, 0, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 2, 0, 0],
 [0, 0, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 1, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 2, 1, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 0, 1, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 2, 1, 2, 0, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 2, 0, 0],
 [2, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 2, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 1, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 1, 0, 1, 1, 1, 2, 2, 0],
 [1, 0, 1, 0, 1, 1, 1, 2, 0, 0],
 [0, 1, 1, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 1, 1, 0, 1, 1, 1, 0],
 [0, 0, 0, 0, 1, 1, 1, 0, 0, 0],
 [1, 1, 1, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 2, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 2, 0, 2, 1, 2, 0],
 [1, 1, 0, 0, 2, 0, 2, 1, 2, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 1, 0],
 [0, 0, 1, 0, 0, 1, 0, 1, 0, 0],
 [0, 0, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 0, 0, 0],
 [0, 0, 1, 0, 1, 2, 1, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 2, 0, 0],
 [0, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 0, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 2, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 2, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 1, 0],
 [1, 1, 0, 0, 2, 2, 2, 1, 0, 0],
 [0, 1, 0, 0, 1, 1, 1, 2, 0, 0],
 [0, 1, 0, 0, 1, 1, 1, 2, 1, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 0, 1, 0, 0, 1, 0, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 2, 0],
 [1, 1, 0, 0, 1, 2, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 2, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 0, 0, 0],
 [1, 1, 1, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 0, 1, 0, 0, 1, 0, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 2, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 1, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 1, 0],
 [1, 1, 0, 0, 1, 1, 1, 0, 0, 0],
 [0, 1, 0, 0, 2, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 2, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 2, 1, 0],
 [1, 0, 0, 0, 2, 1, 2, 1, 0, 0],
 [1, 1, 1, 0, 1, 1, 0, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 2, 1, 1, 0],
 [0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 2, 0, 0],
 [0, 1, 1, 0, 1, 0, 1, 2, 0, 0],
 [1, 0, 1, 0, 1, 2, 1, 2, 0, 0],
 [0, 1, 1, 0, 1, 2, 1, 1, 1, 0],
 [1, 1, 0, 0, 1, 0, 1, 2, 0, 0],
 [1, 0, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 0, 0, 0],
 [1, 1, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 1, 0, 1, 2, 1, 2, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 1, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 2, 2, 0],
 [0, 1, 1, 0, 0, 0, 0, 1, 0, 0],
 [1, 0, 1, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 1, 0, 1, 0, 1, 1, 2, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 2, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 1, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 1, 1, 1, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 1, 1, 1, 0, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 1, 0, 1, 2, 1, 1, 1, 0],
 [0, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 2, 0, 0, 1, 1, 1, 2, 1, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 1, 2, 1, 0, 0],
 [0, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 2, 0, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 1, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 2, 1, 1, 2, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 1, 0],
 [1, 2, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 1, 0, 1, 0, 1, 1, 1, 0],
 [1, 0, 0, 0, 1, 0, 1, 0, 0, 0],
 [1, 0, 1, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 2, 1, 0, 0, 0],
 [1, 1, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 2, 2, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 1, 0, 1, 0, 1, 1, 0, 0],
 [0, 1, 1, 0, 1, 1, 1, 1, 1, 0],
 [1, 0, 0, 0, 1, 0, 1, 0, 0, 0],
 [1, 1, 0, 0, 1, 2, 1, 0, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 0, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 0, 0, 0],
 [0, 1, 0, 0, 1, 2, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 2, 1, 0, 0, 0],
 [1, 0, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 1, 1, 0, 0, 0, 0, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 1, 0, 2, 0, 0],
 [1, 0, 1, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 1, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 2, 1, 1, 1, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 1, 0, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 2, 1, 1, 1, 0],
 [1, 0, 0, 0, 2, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 1, 0, 0, 0],
 [1, 1, 1, 0, 0, 2, 1, 1, 1, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 1, 0, 1, 1, 1, 1, 2, 0],
 [0, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 2, 0, 2, 2, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 0, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 1, 2, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 2, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 2, 1, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 2, 1, 1, 1, 0],
 [0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 1, 1, 2, 1, 0],
 [1, 1, 1, 0, 1, 1, 1, 2, 0, 0],
 [1, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 2, 1, 2, 1, 0],
 [1, 1, 0, 0, 2, 1, 1, 1, 0, 0],
 [1, 2, 0, 0, 1, 1, 1, 1, 1, 0],
 [0, 0, 0, 0, 0, 1, 0, 1, 0, 0],
 [0, 0, 1, 0, 1, 1, 1, 1, 0, 0],
 [1, 1, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 2, 0, 0, 1, 0, 1, 1, 1, 0],
 [0, 1, 2, 0, 0, 2, 0, 1, 0, 0],
 [1, 1, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 0, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 1, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 0, 0, 0],
 [1, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 0, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 2, 0, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 1, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 1, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 0, 0, 0],
 [1, 1, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 2, 0, 0],
 [1, 0, 0, 0, 2, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 2, 2, 0, 0],
 [1, 0, 0, 0, 2, 1, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 2, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 1, 0, 0, 2, 0, 2, 2, 0, 0],
 [0, 0, 0, 0, 2, 0, 0, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 1, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 0, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 1, 2, 2, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 1, 1, 0, 0],
 [1, 1, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 1, 0, 0, 0],
 [0, 0, 0, 0, 2, 1, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 0, 0, 0],
 [0, 0, 0, 0, 2, 0, 0, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 0, 2, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 0, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 2, 0, 0],
 [1, 0, 0, 0, 1, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 0, 2, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 2, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 2, 0, 0],
 [0, 0, 0, 0, 2, 0, 0, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 2, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 2, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 2, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 1, 0, 0, 1, 0, 2, 2, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 1, 0, 2, 2, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 2, 0, 0],
 [1, 0, 0, 0, 1, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 0, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 1, 0, 0],
 [1, 0, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 1, 0, 0, 2, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 2, 1, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 0, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 0, 0, 0],
 [0, 0, 0, 0, 2, 0, 2, 1, 0, 0]]

In [ ]:
selected_col = df.drop(['class'], axis=1)

In [ ]:
c_l = []
for val in selected_col:
  c_l.append(val)

In [ ]:
df_l = pd.DataFrame(new_val, columns=c_l)

In [ ]:
df_l

     white blood cell count  blood glucose random  ...  sugar  hypertension
0                         0                     0  ...      0             0
1                         0                     1  ...      0             0
2                         0                     2  ...      1             0
3                         0                     0  ...      0             0
4                         0                     0  ...      0             0
..                      ...                   ...  ...    ...           ...
395                       0                     1  ...      0             0
396                       0                     0  ...      0             0
397                       0                     0  ...      0             0
398                       0                     0  ...      0             0
399                       0                     0  ...      0             0

[400 rows x 10 columns]

In [ ]:
copy_df = df_l

In [ ]:
copy_df['class'] = y

In [ ]:
copy_df

     white blood cell count  blood glucose random  ...  hypertension  class
0                         0                     0  ...             0      0
1                         0                     1  ...             0      0
2                         0                     2  ...             0      0
3                         0                     0  ...             0      0
4                         0                     0  ...             0      0
..                      ...                   ...  ...           ...    ...
395                       0                     1  ...             0      1
396                       0                     0  ...             0      1
397                       0                     0  ...             0      1
398                       0                     0  ...             0      1
399                       0                     0  ...             0      1

[400 rows x 11 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(df_l,y,train_size=0.75)

In [ ]:
from sklearn import svm
lin_clf = svm.LinearSVC()
lin_clf.fit(X_train, y_train)
ypred = lin_clf.predict(X_test)
print(accuracy_score(ypred,y_test))

0.94

In [ ]:
Xtest = [1,1,1,0,1,1,2,1,2,1]

In [ ]:
X_df = pd.DataFrame(Xtest)

In [ ]:
vals=['white blood cell count', 'blood glucose random', 'blood urea', 'serum creatinine', 'packed cell volume', 'albumin', 'hemoglobin', 'age', 'sugar', 'hypertension']

In [ ]:
X_df

   0
0  1
1  1
2  1
3  0
4  1
5  1
6  2
7  1
8  2
9  1

In [ ]:
X_df = X_df.T

In [ ]:
X_df.columns=vals

In [ ]:
X_df

   white blood cell count  blood glucose random  ...  sugar  hypertension
0                       1                     1  ...      2             1

[1 rows x 10 columns]

In [ ]:
print(lin_clf.predict(X_df)[0])

0

In [ ]:
lin_clf = svm.LinearSVC()
lin_clf.fit(df_l,y)

LinearSVC()

In [ ]:
from joblib import dump
dump(lin_clf, "svm_clf.joblib")

['svm_clf.joblib']